.win{
  width: 750px;
  background-color: rgba(255, 255, 255, 0.8);
  height: 35px;
}
.win2{
  border: none !important;
  outline: none;
  font-size: 13px;
  height: 35px;
  background-color: transparent!important;
  
}

nav{
  position: fixed;
  z-index: 99;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  
}
.carousel-inner>.carousel-item{
  height: 100vh;
}
.carousel-caption{
    transform: translate(0, -120px);
}
.carousel-caption>h1{
  font-size: 65px !important;
  font-family: 'Proxima Nova Condensed', sans-serif !important;
  font-weight: 800;
}
.carousel-caption>h3{
  font-size: 28px !important;
  text-align: center;
  font-weight: 600;
  font-family: 'Proxima Nova Condensed', sans-serif !important;
  /* vertical-align: baseline; */
  text-align: center;
  padding: 0px 200px !important;
  
}
.carousel-caption>button{
  font-family: 'Proxima Nova Condensed', sans-serif !important;
  transform: translateY(-25px); 
}
footer{
  background-color: black;
  padding: 10px 30px !important;
}
.tens{
  padding: 0;
}
.tens>a{
  font-size: 15px;
  text-decoration:none;
  font-family: 'Proxima Nova Condensed', sans-serif !important;
  margin-right: 40px;
}